:root {
    --headers-color: #212121;
    --standart-text-color : #757575;
    --link-hover-color : #2196F3;
    --minor-background-color:#2F303A;
    --button-background-color:#F5F4FA;
  }

  body{
    color: var(--standart-text-color);
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

  }
  button{
    background-color: #2196F3;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;

    border-radius: 4px;

  }
  footer{
    height: 252px;
    background-color: var(--minor-background-color);
    /* padding: 0 30px; */
    

  }
  .container{
    width: 1230px;
    outline: 0px solid black;
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 94px;
  }
  header .container{
    margin-bottom: 0px;
  }
  .container.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* outline: #178168 dotted 2px; */
  }

  .headers{
    color: var(--headers-color);
    font-weight: 700;
    line-height: 1.2;
  }
 

  .advantages .headers{
    font-size: 14px;

  }
  .advantages-list{
    display: flex;
    column-gap:30px;
  }
  .advantages-list .item{
    flex-basis: calc((100% - 90px) / 4);
    
  }


  .development-stages{
  text-align: center;
  }
  .development-stages .headers{
    font-size: 36px;
  }

  .development-list{
    display: flex;
    column-gap:30px;
  }
  .development-list .item{
    flex-basis: calc((100% - 60px) / 3);
  }


  .nav-list{
  display: flex;
  align-items: center;
}
  .nav-list>.nav-link + .nav-link{
  margin-left: 50px ;
}
  
  .nav-list .nav-link a{
    display: block;
    padding-top: 31px;
    padding-bottom: 31px;

    color: var(--headers-color);
    font-weight:500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.02em;
 
  }
  .nav-link.active-link a{
    color: var(--link-hover-color);
  }
 .main-logo a{
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--headers-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-weight: 700;
  
  /* outline: #bee0d8 dotted 2px; */
 

}
.logo-part{
  color: var(--link-hover-color);
}

.contacts-list{
  display: flex;
}

.contacts-list>.item + .item{
  margin-left: 50px;
}


  .contacts-list a{
    display: block;
    padding-top: 31px;
    padding-bottom: 31px;

    color: inherit;
    font-weight:500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.02em;
  }

  .nav-list a:hover,.nav-list a:focus{
    color: var(--link-hover-color);
  }
  .contacts-list a:hover,.nav-list a:focus{
    color: var(--link-hover-color);
  }
  .slogan-block{
    height: 600px;
    margin-bottom: 94px;

    background-color: var(--minor-background-color);
    text-align: center;
    vertical-align:middle;
  
  }

  .slogan-text,.location{
    
    color: #fff;

  }
  .slogan-text{
    display: inline-block;
    width: 690px;
    margin-top: 200px;

  /* outline: #bee0d8 dotted 2px; */
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  }


  .team{
    text-align: center;
  }

 .team > .headers{
  font-size: 36px;
 }
 .team-list{
  display: flex;
  column-gap:30px;
 }
.team-list .item{
  flex-basis: calc((100% - 90px) / 4);
}

 
 .profession{
  font-size: 16px;
 }
 .footer .main-logo a{
  color: #fff;
 }
 address a{
  color: inherit;
 }

.works-filter{
  padding-top: 94px;
}


.buttons-list{
  display: flex;
  justify-content: center;
  /* column-gap:8px; */
}
.buttons-list :not(:last-child)
{
  margin-right: 8px;
}

.buttons-list button{
  display: block;
  height: 38px;
  padding: 6px 22px;

}

 .buttons-list .unactive-button {
  background-color: var(--button-background-color);
  color: var(--headers-color);
 }
 .buttons-list .unactive-button:hover,
 .buttons-list .unactive-button:focus{
  background-color: #2196F3;
  color: #fff;
 }

.works{
  
  margin-top: 50px;
}

.works p{
 line-height: 1.9;
}

 .works .headers{
  font-size: 18px;
  line-height: 2;
 }

 .works-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:30px;
 }
 .works-list>.item{
  border: 1px solid #EEEEEE;
  flex-basis: calc((100% - 90px) / 3);
 }

 .main-button{
  height: 50px;
  width: 200px;
  padding: 10px 20px;
  margin-top: 30px;
 }
 .caption{
  outline: 0px solid black;
  padding: 0 24px;
  padding-bottom: 20px; 
 }

 .caption .headers{
 
  margin-bottom: 4px;
 }
 .works img{
  display: block;
  margin-bottom: 20px;
 }
 .team img{
  margin-bottom: 30px;
 }
 /* .works li{
  border: #2F303A 1px solid;
 } */
 .footer-text{
  display: inline-block;
  margin-top: 48px;
  /* outline: 1px solid rgb(188, 178, 178); */
 }
 h2.headers{
  display: inline-block;
  margin-bottom: 50px;
  /* outline: #44a18b dotted 2px; */
 }

 .headers.header-space{
  /* outline: 1px solid rgb(36, 138, 106); */
  display: inline-block;
  margin-bottom: 10px;
 }
 .background-container{
  /* outline: 1px solid rgb(36, 138, 106); */
  background-color: #F5F4FA;
 padding-top:  94px;
 padding-bottom: 94px;
 }
 .background-container .container{
  margin-bottom: 0px;
 }
  .bottmom-space:nth-child(1){
  /* background-color: #F5F4FA; */
  margin-bottom: 9px;
  
 }
.footer-text .main-logo a{
  /* outline: #2196F3 1px solid; */
 padding: 12px;
  margin-bottom: 8px;
}

